* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    background-color: #000;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.container {
    background-color: #fff;
    color: #212121;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

form input {
    padding: 7px 15px;
    width: 200px;
}

input[type="submit"] {
    background-color: #212121;
    color: #fff;
}

.error-color-password {
    color: red;
    font-weight: 700;
    font-size: .7em;
}

.error-password {
    display: none;
}

.error-color-email {
    color: red;
    font-weight: 700;
    font-size: .7em;
}

.error-email {
    display: none;
}

.success-message {
    display: none;
    color: green;
    font-weight: 700;
}

span {
    color: red;
}